  <canvas id='floating'> </canvas>
  
  <!--  Quote -->
 <div class = "homeStuff">
		<div class = "row"> 
			<div class = "col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 text-gray mt5">
				<p ><h1 class = "quote">With our minds, we create the world!</h1>
				<h3 class = "text-blue text-right quoteSmall mr8">-Buddha</h3>
				</p>
			</div>
			<div class = "col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
		</div>
	
	<!-- 	Page Header -->
		<div class = "row">
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 mt5">
			  		<h1 class = "text-blue myName">
			  		<img class = "mainImage ml5" src = "images/ProfilePicture.jpg">	
			  		<big><strong class = "textTitle">Person's Name </strong></big><small class = "text">Software Developer</small>
			  		</h1>
			</div>
		</div>
		<div class = "row">		
	
		</div>
  </div>

