<ion-view view-title="Home Menu" class = "homePage">
    <ion-content class="padding ">
        <div class = "welcome">
            <h1 class = "text-center mainWelcome">Home Page</h1>
            <h4 class = "text-center">Weclome to CityScape : {{vm.user}}</h4>
            <p class =  "wrap">
                City Scape is an Ionic app that allows you to share photos with other people. Use the top nav bar to
                move around and find your way. You can view the city database, of all the pictures other uses
                have posted, or you can post your own. Be sure to leave a cool comment to let other people know if you
                would recommend travel to a certain location. <br><br>
                Have fun, and enjoy!

            </p>
        </div>
    </ion-content>
</ion-view>
