		
			<h1 class = "title text-center">Resumé</h1>
			<br>
			<hr>
			<br>
			<div class = "text-center">
				<img src = "images/resume.png">
			</div>

<!-- 	<div class = "row "> -->
<!-- 		<h3 class = "link"><a ng-click = "vm.readPosts()" ui-sref = "blog.read">	Read Posts: </a></h3> -->
		
<!-- 	</div> -->
<!-- 	<div class = "row"> -->
<!-- 		<div ui-view = "read"></div> -->
<!-- 	</div> -->
<!-- 	<div class = "row">  -->
<!-- 		<h3 class = "link"><a ui-sref = "blog.write">Write Post: </a></h3> -->
<!-- 	</div> -->
<!-- 	<div class = "row"> -->
<!-- 		<div ui-view = "write"></div> -->
<!-- 	</div> -->